<h2 mat-dialog-title="">Please confirm</h2>
<mat-dialog-content>Are your sure you want delete this post-it note ?</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close [mat-dialog-close]="true"  aria-label="Delete">DELETE</button>
  <button mat-button mat-dialog-close [mat-dialog-close]="false" aria-label="Cancel">CANCEL</button>
</mat-dialog-actions>

