<div class="progressBarContainer">
  <mat-progress-bar *ngIf="isProgressBar" mode="indeterminate"></mat-progress-bar>
</div>


<div *ngIf="notesData.length">
  <div class="infoContainer">
    <h2>You have <strong>{{notesData.length}}</strong> post-it note<span *ngIf="notesData.length>1">s</span></h2>
    <button mat-stroked-button color="primary" (click)="createNote()" aria-label="Create">
      <mat-icon>add</mat-icon>
      CREATE NEW
    </button>
    <mat-divider></mat-divider>
  </div>


  <form [formGroup]="noteForm">

    <div fxLayout="column wrap" fxLayoutAlign="center">

      <div fxLayout="row wrap"
           fxLayoutGap="0px"
           fxLayoutGap.sm="35px"
           fxLayoutGap.lg="60px"
           fxLayoutGap.xl="30px"
           formArrayName="notes">

        <div *ngFor="let note of notesData; let i = index"
             fxFlex="15%"
             fxFlex.xs="100%"
             fxFlex.sm="45%"
             fxFlex.md="33%"
             fxFlex.lg="20%"
             fxFlex.xl="15%"
             fxLayout="column"
             [@fadeAnimation]>

          <div class="postIt" [ngClass]="{'unSaved':note.body !== formData.controls[i].value.body}">

            <mat-form-field class="full-width" appearance="fill" [formGroupName]="i">

              <textarea matInput formControlName="body" #bodyTextarea rows="9" maxlength="200"
                        placeholder="type text here..."></textarea>

              <mat-hint *ngIf="!note.updatedAt" align="start" class="date">
                created {{note.createdAt | date: 'H:mm d.M.Y' }}
              </mat-hint>

              <mat-hint *ngIf="note.updatedAt" align="start" class="date">
                updated {{note.updatedAt | date: 'H:mm d.M.Y' }}
              </mat-hint>

              <mat-hint *ngIf="note.body !== formData.controls[i].value.body" align="end">{{bodyTextarea.value.length}}
                / 200
              </mat-hint>

            </mat-form-field>

            <button *ngIf="note.body !== formData.controls[i].value.body" class="save" mat-icon-button
                    (click)="updateNote(note,i)" color="basic">
              <mat-icon matTooltip="save" aria-label="Save" #tooltip="matTooltip">save</mat-icon>
            </button>

            <button class="delete" mat-icon-button (click)="onDeleteNote(note,i)" color="basic" matTooltip="delete"
                    aria-label="Delete"
                    #tooltip="matTooltip">
              <mat-icon>delete</mat-icon>
            </button>

          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="infoContainer" *ngIf="!notesData.length && !isProgressBar && !isApiConnectionError">
  <h1>Hello :)</h1>
  <h2>you don't have any post-it notes</h2>
  <button mat-stroked-button color="primary" (click)="createNote()" aria-label="Create">
    <mat-icon>add</mat-icon>
    CREATE NEW
  </button>
</div>


<div class="infoContainer" *ngIf="!notesData.length && !isProgressBar && isApiConnectionError">
  <h1>Ups :(</h1>
  <h2>can't connect to API</h2>
  <h3>did you forget <strong>"json-server --watch db.json"</strong> ?</h3>
</div>

