.infoContainer {
  margin-top: 100px;
  text-align: center;

  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 30px;
    font-weight: normal;
  }
  button {
    margin-bottom: 20px;
  }
}

.postIt {
  line-height: 1;
  text-align: center;
  width: 275px;
  margin: 25px;
  min-height: 200px;
  max-height: 200px;
  padding: 5px 15px 85px 15px;
  position: relative;
  border: 1px solid #E8E8E8;
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
  color: #796208;
  border-bottom-right-radius: 60px 5px;
  display: inline-block;
  background: #ffff88; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #ffff88 81%, #ffff88 82%, #ffff88 82%, #ffffc6 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(81%, #ffff88), color-stop(82%, #ffff88), color-stop(82%, #ffff88), color-stop(100%, #ffffc6)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg, #ffff88 81%, #ffff88 82%, #ffff88 82%, #ffffc6 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg, #ffff88 81%, #ffff88 82%, #ffff88 82%, #ffffc6 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg, #ffff88 81%, #ffff88 82%, #ffff88 82%, #ffffc6 100%); /* IE10+ */
  background: linear-gradient(135deg, #ffff88 81%, #ffff88 82%, #ffff88 82%, #ffffc6 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff88', endColorstr='#ffffc6', GradientType=1); /* IE6-9 fallback on horizontal gradient */
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;

  button.delete {
    position: absolute;
    bottom: 10px;
    left: 0px;
    color: #c2a022;
  }
  button.save {
    position: absolute;
    bottom: 10px;
    right: 0px;
    color: #000000;
  }
  mat-hint.date {
    color: #c2a022;
  }
  textarea:hover, textarea:focus {
    color: #000;
  }
  textarea {
    resize: none !important;
  }

}

.postIt:after {
  content: "";
  position: absolute;
  z-index: -1;
  right: -0px;
  bottom: 20px;
  width: 200px;
  height: 25px;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 2px 15px 5px rgba(0, 0, 0, 0.40);
  -moz-transform: matrix(-1, -0.1, 0, 1, 0, 0);
  -webkit-transform: matrix(-1, -0.1, 0, 1, 0, 0);
  -o-transform: matrix(-1, -0.1, 0, 1, 0, 0);
  -ms-transform: matrix(-1, -0.1, 0, 1, 0, 0);
  transform: matrix(-1, -0.1, 0, 1, 0, 0);
}

.postIt:hover {
  border: 1px solid #000000;
}

.unSaved {
  border: 1px solid #ff0000;
}


