/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.full-width {
  width: 100%;
}

/* textarea element appearance fix */
.mat-form-field-appearance-fill .mat-form-field-flex {
  background: none !important;
}

/* textarea element appearance fix */
.mat-form-field-ripple {
  background-color: #c2a022 !important;
  height: 1px !important;
}

/* textarea element appearance fix */
.mat-form-field-appearance-fill .mat-form-field-underline::before {
  background-color: #f4da7b !important;
  height: 1px !important;
}

.danger-snackbar {
  background: #b00202;
  color: #ffffff;
}

.success-snackbar {
  background: #9cbd33;
  color: #ffffff;
}

/* constant mat-progress-bar height fix */
.progressBarContainer {
  height: 5px;
}


